{{page-title "Experiments"}}

		<div>
          <h3 class="text-center">Experiments with Violence
          </h3>
          <p class="text-center">Performance | 14th June 2025 | Khoj, New Delhi</p>
       	</div>
        
        <div class="image-container position-relative mb-5 w-100">
          <img class="w-100" src="assets/img/moss-img.jpeg" alt="Moss Image">
          <div class="caption-overlay position-absolute bottom-0 w-100 text-end text-white p-1">
            Photography by Alina Tiphagne
          </div>
        </div>
        
        <p>
          In „Experiments with Violence“ Kaldi Moss and Cello Valenta explore changing power structures in an
          increasingly authoritarian and violent world. Being confronted with diffuse fears and individual attempts of
          liberation,
          the two performers explore their relationship towards the world and ask: What does liberty feel like?
          <br>
          <br>
        </p>
        <div class="container mt-4">
          <div class="row align-items-start">

            {{!-- Column 1: Text (thoda aur wide) --}}
            <div class="col-12 col-md-4">
              <p>
                This artistic research focuses on the relationship between humans and technology,
                and the creative and destructive potential of tools. The central part of the experimental
                set-up is a chainsaw. Several wooden chairs are placed in the room and constantly rearranged.
                In this ever-changing constellation, power relations are sensually reflected while the potentiality
                of the chainsaw is explored; not knowing if and when the moment of destruction has come.
              </p>
            </div>
          </div>
        </div>





<hr>
<div>
      <h3 class="text-center">Bodies Machines Publics
      </h3>
      <p class="text-center fs-7">Residency | Oct-Dec 2025 | Khoj, New Delhi</p>
    </div>
    <div class="mb-3">
      <img class="w-100" src="assets/img/khoj.jpeg">
    </div>
    <p>
     

    </p>
   
    <hr>
    
    {{!-- 3) CONTENT --}}
    <br>
    <br>
    <div>
      <div>

        <div class="text-center">
          <h3>The human in the data, the data in the human</h3>
          <p class="text-center"> Workshop | 22nd June 2025 | Meuseum of Photography, Bangalore</p>
        </div>

        <div class="mb-3">
          <img class="w-100" src="assets/img/2W3A4360.JPG">
        </div>
        <div class="mb-3">
          <img class="w-100" src="assets/img/2W3A4380.JPG">
        </div>

        <p>
          The idea of this workshop is to develop conceptual and practical tools for artists and others interested in
          working with both large and small datasets. Through methods of collective thinking and role-based exercises,
          we
          will play out a high-stakes techno-political scenario from multiple perspectives—algorithmic, institutional,
          ecological, and embodied. The workshop will encourage participants to examine data at multiple
          scales—microscopic and
          telescopic—and across different temporalities. Together, we will explore how art practices can intervene in,
          visualize, or reimagine the structures and implications of data systems.
          <br>
          <br>
          The main-takeaways of the workshop will be -
          The hands-on experience of using open source data tools as easily as we use google docs or excel sheets as
          ways
          of listening to data.
          Ways of collective thinking like LARPs, and 

          war rooms that allow us to take positions different from ourselves
          and to actively respond to propositions and hypothetical situations.
          Using the case study of Taiwan and its g0v movements, and looking at a different logic to a tech-enabled
          democracy.

        </p>
        <div class="mb-3">
          <video class="w-100" controls>
            <source src="/assets/videos/video1.mp4" type="video/mp4">
          </video>
        </div>

        <div class="mb-3">
          <video class="w-100" controls>
            <source src="/assets/videos/video2.mp4" type="video/mp4">
          </video>
        </div>

      </div>
     
       


        <hr>
        <br>
        <br>
        <h3 class="text-center">Research at Wildfire
          Jan 2025- onwards
        </h3>
        <div class="mb-3">
          <img class="w-100" src="assets/img/wework.jpeg">
        </div>
 
      </div>
      <hr>
      <br>
      <br>
      <div class="container mt-4">
        <div class="row g-8">
          <div class="col-12 col-md-6">
            
          </div>
          <div class="col-12 col-md-6">
           
            
          
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="text-end border-rounded-5" style="cursor: pointer;">
        <a href="panel" class="btn btn-light">
          <strong class="text-dark">
            Go To Panel <span class="move-arrow">&#8594;</span>
          </strong>
        </a>
      </div>

      <br>
      <hr>

      {{!-- FIXED Footer Component --}}
      <Footer />





{{outlet}}