<div class="body">
  <div class="container">
    <div>
      <h2 class="gap: 20px;">RESEARCH QUESTIONS</h2>
      <br>
      <br>
      <br>
      <br>
      <h3>
        What can artists do with data? This website documents the year-long research investigating 'media' and 'data'.
      </h3>
      <br>
      <p>
        1. Bodies Machines Publics | Residency | Oct-Dec 2025 | Khoj, New Delhi
        <br>
        <br>
        2. The Human in the Data | Workshop | 22nd June 2025 | Meuseum of Photography, Bangalore
        <br>
        <br>
        3. Experiments with Violence | Performance | 14th June 2025 | Khoj, New Delhi
        <br>
        <br>
      </p>
      <br>
      <br>
      <br>
    </div>
    <div>
      <h3 class="text-center">Bodies Machines Publics
      </h3>
      <p class="text-center fs-7">Residency | Oct-Dec 2025 | Khoj, New Delhi</p>
    </div>
    <div class="mb-3">
      <img class="w-100" src="assets/img/khoj.jpeg">
    </div>
    <p>
      As a student of media theory, it felt like the current socio-political landscape was asking a lot of questions.
      If in the 70s, broadcast media changed the structure of the domestic space, 50 years later, in the 2020s, social
      media is changing the structure of democracies and bodies (and the kind of machines we make).
      <br>
      <br>
      So for this work, the techniques that I use for sound synthesis, I applied those techniques to media streams –
      to observe, investigate and study the streams of media that surround us.
      <br>
      <br>
      What I am thinking about is - what kind of tools do artists and people in general have to investigate this
      vectorized media and data in its various forms. What kind of mental models do we need to be able to tear it
      apart from profit motive and weaponization.

    </p>
    <div class="accordion" id="proposalAccordion">
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingProposal">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseProposal" aria-expanded="false" aria-controls="collapseProposal">
            Proposal
          </button>
        </h3>
        <div id="collapseProposal" class="accordion-collapse collapse" aria-labelledby="headingProposal"
          data-bs-parent="#proposalAccordion">
          <div class="accordion-body">
            <p style="color: black;">
              <i>“In philosophical terms, all signals have the same flat ontological importance; what’s important is not
                what
                they are, but what an operator can do with them.”</i> - Graham Wakefield. “Generating Sound & Organizing
              Time:
              Thinking with gen~ Book 1”
              <br>
              <br>
              The same can be said about data. All data has the same flat ontological importance. What’s important is
              what can
              be done with it. I am in search of tools that can sense the digital world, interpret it, and tune it - the
              sickle and hammer of the technological age. Tools that are held by us - not subject to service or
              subscription.
              Simple tools.
              <br>
              <br>
              In the pluralistic context of India, Pakistan, Bangladesh, Taiwan, Japan, Iran - where we live in
              parallel, we
              live multiple lives, in a collective chaos - where the experience is created and consumed at scale and
              complexity - how can we think of society, community, collectivity, government, democracy, and technology?
              Who
              are we as data? And who do we want to be? What agency can we have with our mediatic selves? The power of
              creating experiences and experiencing experiences is not where the buck stops. <b>How does one get power
                to affect
                reality?</b>
              <br>
              <br>
              Authoritarianism emerged from a certain form of social media in the West and India. A different kind of
              participatory democratic model has emerged in Taiwan, and the firewall of China has produced a digital
              border
              concurrent with political borders, within which it has produced its internal logic of self and the
              digital.
              <br>
              <br>
              I propose a collaboration with Akshay Madan, a technologist and an astute observer of the political and
              media
              landscape of India. With Madan, I would like to build on the tool <a
                href="https://article-14.com/"><strong>'Grid'</strong></a>
              (Password : password) to produce an immersive environment (sound, live video
              and data analysis) analysing data and information from Live TV News.
              In its current beta form, Grid detects misinformation and manipulation in news/journalistic text. Grid
              finds
              the heroes and villains in the narrative, revealing propaganda and its tactics. It does so using
              journalistic
              frameworks (please see whitepaper in the drive link above).
              <br>
              <br>
              Using the craft of signal processing (which has been the basis for my sound work over the last decade) and
              Akshay’s knowledge of media, AI, and digital tools, a Live TV News signal is transcribed and fed into
              Grid.
              Grid gives out a minute by minute analysis - which can be plotted in various forms. This is where the
              signal
              processing happens - we encode different parameters to sounds, produce the different markers - to be
              discovered and invented during the residency. Simultaneously, the same news is fed into sentiment analysis
              AI
              models, giving us more granular control over the subjectivities of the narrative.
              <br>
              <br>
              The original purpose of the news is to reach a certain people. We analyse its geographical and linguistic
              spread map and produce a new signal/news which contains differently paced information that reveals the
              real
              structures of power and capital.
              <br>
              <br>
              Khoj would become the ‘live control room’ - where a signal is observed, processed, and a new signal
              produced
              and perhaps even distributed.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {{!-- 4) RESEARCH TRIP --}}
    <div class="mt-5">
      <h3>Research Trip to Patna : What is the media landscape like ?
      </h3>

      <h3>Interview with Raju
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, quibusdam.
      </p>
      <h3>Interview with Bhakpa Male</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, rem.
      </p>

      <h3>The AI generated party music</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, unde.
      </p>

      <h3>Bhojpuri cinema and its relationship to politics
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dolorem!।
      </p>
    </div>
    <hr>
    {{!-- 3) CONTENT --}}
    <div>
      <div>

        <div class="text-center">
          <h3>The human in the data, the data in the human</h3>
          <p class="text-center"> Workshop | 22nd June 2025 | Meuseum of Photography, Bangalore</p>
        </div>

        <div class="mb-3">
          <img class="w-100" src="assets/img/2W3A4360.JPG">
        </div>
        <div class="mb-3">
          <img class="w-100" src="assets/img/2W3A4380.JPG">
        </div>

        <p>
          The idea of this workshop is to develop conceptual and practical tools for artists and others interested in
          working with both large and small datasets. Through methods of collective thinking and role-based exercises,
          we
          will play out a high-stakes techno-political scenario from multiple perspectives—algorithmic, institutional,
          ecological, and embodied. The workshop will encourage participants to examine data at multiple
          scales—microscopic and
          telescopic—and across different temporalities. Together, we will explore how art practices can intervene in,
          visualize, or reimagine the structures and implications of data systems.
          <br>
          <br>
          The main-takeaways of the workshop will be -
          The hands-on experience of using open source data tools as easily as we use google docs or excel sheets as
          ways
          of listening to data.
          Ways of collective thinking like LARPs, and war rooms that allow us to take positions different from ourselves
          and to actively respond to propositions and hypothetical situations.
          Using the case study of Taiwan and its g0v movements, and looking at a different logic to a tech-enabled
          democracy.

        </p>

        {{!-- <h3>Images</h3> --}}
        {{!-- <div class="container mt-4">
          <div class="row g-3">

            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4330.JPG">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4352.JPG">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4354.JPG">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4360.JPG">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4367.JPG">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4380.JPG">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4414.JPG">
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <img class="w-100" src="assets/img/2W3A4421.JPG">
            </div>
          </div>
        </div> --}}
        {{!-- <h3>Videos</h3>

        <div class="container mt-4 mb-5">
          <div class="row g-3">

            <div class="col-12 col-sm-6 col-md-4">
              <video class="w-100" controls>
                <source src="/assets/videos/2W3A4387.MP4" type="video/mp4">
              </video>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
              <video class="w-100" controls>
                <source src="/assets/videos/2W3A4405.MP4" type="video/mp4">
              </video>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
              <video class="w-100" controls>
                <source src="/assets/videos/2W3A4406.MP4" type="video/mp4">
              </video>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
              <video class="w-100" controls>
                <source src="/assets/videos/2W3A4418.MP4" type="video/mp4">
              </video>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
              <video class="w-100" controls>
                <source src="/assets/videos/2W3A4399.MP4" type="video/mp4">
              </video>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
              <video class="w-100" controls>
                <source src="/assets/videos/2W3A4420.MP4" type="video/mp4">
              </video>
            </div>

          </div>
        </div> --}}

        <div class="mb-3">
          <video class="w-100" controls>
            <source src="/assets/videos/video1.mp4" type="video/mp4">
          </video>
        </div>

        <div class="mb-3">
          <video class="w-100" controls>
            <source src="/assets/videos/video2.mp4" type="video/mp4">
          </video>
        </div>

      </div>
      <div>
        <hr>
        <div>
          <h3 class="text-center">Experiments with Violence
          </h3>
          <p class="text-center">Performance | 14th June 2025 | Khoj, New Delhi</p>
        </div>
        {{!-- <div class="mb-5">
          <img class="w-100" src="assets/img/moss-img.jpeg">
          <p class="caption text-center">Image by Alina Tiphagne</p>
        </div> --}}
        <div class="image-container position-relative mb-5 w-100">
          <img class="w-100" src="assets/img/moss-img.jpeg" alt="Moss Image">
          <div class="caption-overlay position-absolute bottom-0 w-100 text-end text-white p-1">
            Image by Alina Tiphagne
          </div>
        </div>


        <p>
          In „Experiments with Violence“ Kaldi Moss and Cello Valenta explore changing power structures in an
          increasingly authoritarian and violent world. Being confronted with diffuse fears and individual attempts of
          liberation,
          the two performers explore their relationship towards the world and ask: What does liberty feel like?
          <br>
          <br>
        </p>
        <div class="container mt-4">
          <div class="row align-items-start">

            {{!-- Column 1: Text (thoda aur wide) --}}
            <div class="col-12 col-md-4">
              <p>
                This artistic research focuses on the relationship between humans and technology,
                and the creative and destructive potential of tools. The central part of the experimental
                set-up is a chainsaw. Several wooden chairs are placed in the room and constantly rearranged.
                In this ever-changing constellation, power relations are sensually reflected while the potentiality
                of the chainsaw is explored; not knowing if and when the moment of destruction has come.
              </p>
            </div>
            <div class="col-12 col-md-8">

              {{!-- Main Large Image --}}
              <div class="main-image-container mb-3">
                <img class="w-100 rounded" src="assets/img/img1.jpeg" alt="Main Image">
              </div>

              {{!-- Thumbnails below --}}
              <div class="d-flex flex-wrap gap-2">
                <img class="w-100 rounded" src="assets/img/img6.jpg" alt="Image 2">
                <img class="w-100 rounded" src="assets/img/img5.jpg" alt="Image 3">
                <img class="w-100 rounded" src="assets/img/img4.jpeg" alt="Image 4">
                <img class="w-100 rounded" src="assets/img/img2.jpeg" alt="Image 5">
              </div>

            </div>


          </div>
        </div>

        <hr>
        <h3>Research at Wildfire
          Jan 2025- onwards
        </h3>
        <div class="mb-3">
          <img class="w-100" src="assets/img/wework.jpeg">
        </div>
        <p>
          My question about tools needed to work with data, and the question of how can we understand Civic, political
          and legal data; code, artificial intelligence, media and related metadata - led me to Akshay Madan.
          <br>
          <br>
          He has ben deeply entrenched in the questions of law, journalism, media, code and the way in which these
          things relate to our lived life as citizens, users, consumers, voters and creators. I worked at Wildfire for 6
          months, which is a web service company founded by Akshay Madan.
          <br>
          <br>
          The current work is a continuation of this ongoing collaboration.

        </p>
      </div>
      <hr>
      <div class="container mt-4">
        <div class="row g-6">

          <div class="col-12 col-sm-6 col-lg-4">
            <h3>g0v</h3>
            <p>
              The g0v movement, or g0v, (pronounced gov-zero /ɡʌvziroʊ/) is an open source, open government
              collaboration
              started by Chia-liang Kao ("clkao"), ipa, kirby and others in late 2012 in Taiwan.
              Originally driven by a bimonthly hackathon, the community has expanded to include different professional
              and
              non-information technology background members. Symbolizing the community's efforts to "rethink the role of
              government from zero," and borrowing the parlance of binary from the digital world of 1s and 0s, the O in
              "gov" is
              replaced with a 0 to make "g0v"; for many government agencies in Taiwan which have URLs ending .gov.tw,
              replacing
              .gov with .g0v redirects the user to the so-called shadow government, a "forked" version of that agency
              with
              contributions by civic hackers. Continuing this inspiration from the software development world, the
              forked
              content can then be "merged" back into the government agency's website.

              g0v is a community that promotes the transparency of government information and is committed to developing
              information platforms and tools for citizens to participate in society. As of the beginning of 2014, there
              have
              been contributors across three continents, and the results have been released in a free software model
              that
              embraces knowledge sharing.
            </p>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <h3>Hacker culture / Media art</h3>
            <p>
              पत्रकारिता पहले तथ्य आधारित रिपोर्टिंग...
            </p>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <h3>Zuleikha’s TMV</h3>
            <p>
              युवा वर्ग ने परंपरागत समाचार माध्यमों की बजाय...
            </p>
          </div>

        </div>
      </div>
      {{!-- 5) COLLABORATIONS --}}
      <hr>
      <footer class="text-light py-5 mt-4">
        <div class="container">
          <div class="row">

            <div class="col-12 col-md-4 mb-4">
              <h5 class="ms-3 fw-bold mb-3">Collaborations</h5>
              <ul class="list-unstyled">
                <li>Akshay Madan - Soft Tech</li>
                <li>Neha Soft Tech</li>
                <li>Zanskar - Writing</li>
              </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <h4>Acknowledgement</h4>
              <ul class="list-unstyled">
                <li>Piyush</li>
                <li>Saloni</li>
                <li>Nirmohi</li>
                <li>Raju</li>
              </ul>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <h5 class="fw-bold mb-3">Contact Us</h5>
              <a href="mailto:neharaao2022@gmail.com" class="text-light text-decoration-none" target="_blank"
                rel="noopener noreferrer">
                neharaao2022@gmail.com
              </a>
            </div>

          </div>
        </div>
      </footer>

    </div>
  </div>
</div>

{{outlet}}