<div class="body">
  <div class="container">
    <h2>LIVE MEDIA MONITORING AND ANALYSIS INSTRUEMNT</h2>

    <img class="w-100" src="assets/img/panel.jpg">
    <br>
    <br>
    <p>The instrument is both a sculpture and a functional machine. The control panel has to act as a manual and as a
      poetic
      device. We will focus on the manual and keep poetics in the peripheral vision.</p>
    <br>
    <p>we will borrow from cybernetic terminology, signal processing and control systems.</p>

    <p>We are also trying to create a vocabulary to talk about media streams. We must be try to avoid falling into easy
      traps
      of assuming something about a system without testing it.
      <br>
      <br>
      The instrument investigates an 'event', defined by input parameters, and then it analyses the media from various
      sources.
      <br>
      <br>
      There is a 'time slider' and a timeline that plots the checkpoints of the event and its media lifecycle.
      <br>
      <br>
      Context : the context is a set of databases that preceeds the event and that which is the site of this 'event'.
      In case of bihar elections, the context is the civic and political data.
      <br>
      <br>
      An 'event' can be defined by using the parameter of a 'search query' and a 'time window'. This gives us media
      streams we will call 'input streams'

      (Tecnically: They are HTTP requests that give us a list of links in a .json file format. )
      <br>
      <br>
      Once we have the input dataset and context datasets, the next block in out signal processing system is ' grid
      analysis'. This places the heros and villians of differnet narratives side by side.
      <br>
      <br>
      The machine and the panel has to help us analyze and look at each piece of input from a media stream. This is the
      main function of the dashboard is gathering the data in one place and analyzing it in real time.
      <br>
      <br>
      The next block brings together - narratives, demographics, locations and the algorithm governing this
      distribution.
      [context, general communities, powerful actors ]
      <br>
      <br>
      In case of Bihar Assebly elections of 2025, the context is the 'election infrastructure', the govt body is ECI,
      <br>
      <br>
      <br>
    <h3>what is at stake is the position of power and the national narrative.</h3>
    <br>
    <br>
    The panel will have place for an engraved signal processing diagram that gives clear instruction about how it
    works.
    It will have a knob for srolling through the timeline, a keyboard for input parameters, then on the right it will
    have a knob for scrolling and selecting, push button for requesting data, 2 or 3 knobs for controlling camera
    views
    in touchdesiger.
    </p>
    <br>
    <br>
   <div class="text-start border-rounded-5" style="cursor: pointer;">
  <a href="/" class="btn btn-light">
    <span class="move-arrow">&larr;</span>
    <strong class="text-dark"> Go To Home</strong>
  </a>
</div>

    <br>
    {{!-- 5) COLLABORATIONS --}}
    <hr>
    <Footer />
  </div>
</div>
{{outlet}}