{{page-title "RajuAi"}}
{{!-- 4) RESEARCH TRIP --}}
    <div class="mt-5">
      <h3>Research Trip to Patna : A visit to the site after observing the media landscape of the Bihar election from a
        distance.
      </h3>
      <p>
        Piyush Kashyap or <a href="https://zeropowercut.work/jangayek"> <strong>Zeropowercut </strong></a> has been
        working with jangayak Raju Ranjan for some time. We met Raju to discuss
        how people get their news, do people feel they get access to information, what do they feel about
        disinformation. On our way to Aarah to meet Raju, we met different people on the local train. The bustle of the
        train was filled with soundtracks of reels - quick and shifting, from music to speech, bhojpuri, hindi, rallies,
        songs, reporters, political ads and so on.

      </p>
      <div>
        <p>
          Raju introduced us to Nirmohi Ji, who has been signing campaign music for Teen Taara for a long time. Bhakpa
          Male, popularly known by its symbol, teen tara (or three stars) is a left party. We went to Girahni, a village
          in Bhojpur District, to meet Nirmohi ji.
        </p>
        <div class="image-container position-relative mb-5 w-100">
          <img class="w-100" src="assets/img/bhakpa1.jpeg" alt="Moss Image">
          <div class="caption-overlay position-absolute bottom-0 w-100 text-end text-white p-1">
            Right to left : Moss, Nirmohi Ji, Rajendra and name not known
          </div>
        </div>
      </div>
      <p>Campaign music by Nirmohi ji found from sources on the internet</p>
      <div class="row">
        <div class="col-12 col-md-6 video-col">
          <video class="same-height-video" controls>
            <source src="/assets/videos/partyvideo2.mp4" type="video/mp4">
          </video>
        </div>

        <div class="col-12 col-md-6 video-col">
          <video class="same-height-video" controls>
            <source src="/assets/videos/part-video1.mp4" type="video/mp4">
          </video>
        </div>
      </div>

      <p>Phenomenon of AI generated campaign music : <br>
        Nirmohi ji used AI to create the music for this video in addition to his own singing.</p>
      <div class="fb-video-wrapper">
        <iframe
          src="https://www.facebook.com/plugins/video.php?height=316&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1413233420221384%2F&show_text=false&width=560&t=0"
          scrolling="no" frameborder="0"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowfullscreen="true">
        </iframe>
      </div>

    </div>
    <hr>
{{outlet}}