@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// $font-family-sans-serif: "IBM Plex Mono", serif !default;
// $display-font-family: "IBM Plex Mono", serif !default;

@font-face {
  font-family: "rnc";
  src: url("/assets/R&C-Demo.otf") format("opentype");
}

@font-face {
  font-family: "dagh";
  src: url("/assets/Abordage-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ibm";
  src: url("/assets/IBMPlexSans_Condensed-Regular.ttf") format("truetype");
}

$primary:       #000000 !default;
$secondary:     #cccccc !default;
$success:       #00ff00 !default;
$info:          #0000ff !default;
$warning:       #ffff00 !default;
$danger:        #ff0000 !default;
$light:         #eeeeee !default;
$dark:          #333333 !default;

$enable-rounded: false !default;
$enable-negative-margins:     true !default;
$enable-cssgrid:              true !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 12,
) !default;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/animate.css/animate";

.flame-bg {
	background: linear-gradient(0deg, rgba(153,51,153,1) 0%, rgba(255,51,153,1) 100%);
	background-color: rgba(0, 0, 0, 0);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-image: linear-gradient(0deg, rgb(153, 51, 153) 0%, rgb(255, 51, 153) 100%);
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	height: 100vh;
	width: 100vw;
}

@import "ember-power-select";


/* Whole page width and center feel */

/* Section spacing */
.section {
  margin-bottom: 60px;
}
h3 {
  margin-top: 25px;
  font-size: 20px;
}

/* Make paragraph text cleaner */
p, ul {
  font-size: 16px;
  color:white;
  text-align: start;
}

/* Make list clean */
ul {
  margin-left: 20px;
}

/* Give spacing between sections visually */
.section:not(:last-child) {
  // border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}


hr {
  border-top: 2px solid white;
}

.body {
 background-image: url('/assets/img/website_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h2 {
  font-family: 'rnc';
  font-weight: 700;
  font-size: 78px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  padding: 25px;
  color: white;
}

/* 768px se niche font chhota */
@media (max-width: 768px) {
  h2 {
    font-size: 45px;
  }
}

/* 500px se niche aur chhota */
@media (max-width: 500px) {
  h2 {
    font-size: 38px;
  }
}


h3{
  font-family: 'dagh';
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  color: white;
   line-height: 1.6;
}

@media (max-width: 768px) {
  h3 {
    font-size: 25px;
  }
}

/* 500px se niche aur chhota */
@media (max-width: 500px) {
  h3{
    font-size: 20px;
  }
}

h4{
  font-family: 'dagh';
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  color: white;
}
p{
   font-family: 'ibm';
  font-size: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  color: white;
   line-height: 1.6;
}
@media (max-width: 768px) {
  p {
    font-size: 20px;
  }
}

/* 500px se niche aur chhota */
@media (max-width: 500px) {
  p{
    font-size: 19;
  }
}
strong{
  color: white;
}

.image-container {
  position: relative;
  width: 100%; /* Full width container */
}

.caption-overlay {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}
 #headingProposal {
    font-size: 2rem;
  }

  #headingProposal .accordion-button {
    font-size: 2rem;
  }
