      <footer class="text-light py-3 mt-4">
        <div class="container">
          <div class="row">

            {{!-- Column 1 --}}
            <div class="col-12 col-md-8 mb-4">
              <h5 class="ms-3 fw-bold mb-3"> Project by Akshay Madan and Kaldi Moss</h5>
              <ul class="list-unstyled">
                Team: Neha (Website), Niharika (Editing), Vivek and Akhilesh : HIVE Lab (electronics and CAD for panel)
                Zuleikha (Edit, Lights), Zanskar(Text)
              </ul>
            </div>

            {{!-- Column 2 --}}
            <div class="col-12 col-md-4 mb-4">
              <h5 class="fw-bold mb-3">Special Thank's</h5>
              <ul class="list-unstyled">
                <li>Piyush Mishra</li>
                <li>Saloni</li>
                <li>Nirmohi ji</li>
                <li>Raju Ranjan</li>
                <li>The khoj team</li>
              </ul>
            </div>

          </div>
        </div>
      </footer>